<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gambee App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet"  href= "{{ url_for('static',filename='style.css') }}">
    <script src="static/script.js"></script>
</head>
<body class="text-center">


{%block user_block%}
{%endblock%}

{%block trips_common%}
{%endblock%}

{%block contact%}
{%endblock%}

{%block hw%}
{%endblock%}

{%block action_select%}
{%endblock%}


{%block listing_trips%}
{%endblock%}

{%block trip_details%}{%endblock%}

{%block event_details%}{%endblock%}

{%block form_details%}{%endblock%}

{%block admin_pannel%}
{%endblock%}



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>
</html>