<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gambee App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

<div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-bold text-center">Gambee Moto App</h1>
        <p class="lead text-muted">Welcome to Gambee Moto App. Here you can log your trips, mechanical operations, consumption and so on.</p>
    </div>


</div>


{%block hw%}
{%endblock%}

{%block action_select%}
{%endblock%}

{%block form_details%}
{%endblock%}

{%block listing_trips%}
{%endblock%}

{%block trip_details%}
{%endblock%}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>
</html>