{%extends 'base.html'%}



{%block action_select%}

<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">

                <img src="static/imgs/motorbike-touring.jpg" class="img_home">

                <div class="card-body">
                    <p class="card-text">Log a motorcycle trip details.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='{{ url_for( 'trips') }}';">Add New</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">

                <img src="static/imgs/mmi-motorcycle-honda-hands-on-working-in-lab.jpg" class="img_home">

                <div class="card-body">
                    <p class="card-text">Log mechanical operation on your motorcycle.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Add New</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">

                <img src="static/imgs/driver-riding-motorcycle-asphalt-road-empty-84102070.jpg" class="img_home">

                <div class="card-body">
                    <p class="card-text">Log trip pictures you took when riding.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='{{ url_for( 'trips') }}';">Add New</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endblock%}
