{% extends 'login_signup_base.html'%}

{%block login_form%}
      <div class="card shadow-sm col-sm-3 mt-4"  id="login_signup_form">
         <div class="card-body form_shadow" id="login_signup_form">
            <form class="form-signin" method="post" action="{{ url_for('login_page', next=request.endpoint) }}">
               <img class="mb-4" src="static/imgs/logo.png" alt="" width="72"
                  height="72">
               <h1 class="h3 mb-3 font-weight-normal">Gambee Moto App Login</h1>
               <label for="inputEmail" class="sr-only">Rider Email</label>
               <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required=""
                  autofocus="" name="rider_email" value="guest@guest.com">
               <label for="inputPassword" class="sr-only">Rider Password</label>
               <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""
                  name="rider_passw" value="123">
               <div class="checkbox mb-2">
                  <br>
                  <hr>
               </div>
               <button class="btn btn-lg btn btn-outline-dark btn-block" type="submit">Drop a gear!</button>
               <p class="mt-5 mb-3 text-muted">© VRAICA 2021 | v2.2.6</p>
            </form>
            <p>Don't have an account? <a href="{{url_for('signup_page')}}">Request One.</a></p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
         </div>
      </div>
{%endblock%}
