<!DOCTYPE html>
<html lang="en">
   <head>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
         integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
      <link rel="stylesheet" href="static/style.css">
      <script src="{{ url_for('static',filename='script.js') }}"></script>
      <title>Members Area</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
<body class="d-flex justify-content-center text-center">

{%block login_form%}{%endblock%}
{%block signup_form%}{%endblock%}

</body>
</html>