{%extends 'login_signup_base.html'%}

{%block signup_form%}

<div class="card shadow-sm col-sm-3 mt-4 pt-4" id="login_signup_form">
    <div class="card-body" id="login_signup_form">
        <form class="form-signin" method="post" action="{{ url_for('signup_page') }}">

            <img class="mb-4" src="static/imgs/logo.png" alt="" width="72"
                 height="72">

            <h1 class="h3 mb-3 font-weight-normal">Sign Up for Gambee</h1>
            <label for="inputEmail" class="sr-only">Insert Email</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required=""
                   autofocus="" name="new_email">

            <label for="inputPassword" class="sr-only">Insert Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""
                   name="new_passw">

            <label for="inputPassword" class="sr-only">Insert Again Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""
                   name="new_passw_second">
    <div class="checkbox mb-2">
        <br>
        <hr>
    </div>
    <button class="btn btn-lg btn btn-outline-success btn-block" type="submit">Make me a Gambeer</button>
    <p class="mt-5 mb-3 text-muted">© VRAICA 2021 | v2.2.6</p>
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
</div>

{%endblock%}