{%extends 'base.html'%}

{%block form_details%}

<div class="py-2 text-center container">

    <div class="card text-center container ml-2" style="width: 100%;">

        <form action="{{ url_for('trips') }}" method="POST" class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-2 mb-3">
                    <label for="validationCustom01">Trip Name</label>
                    <input type="text" class="form-control" id="validationCustom01" name="trip_name" placeholder="e.g. My Nice Trip" value=""
                           required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <label for="validationCustom02">Area Visited</label>
                    <input type="text" class="form-control" id="validationCustom02" name="area_name" placeholder="e.g. Valea Prahovei" value=""
                           required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="col-md-2 mb-3">
                    <label for="validationCustomUsername"># km travelled</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">KM</span>
                        </div>
                        <input type="number" class="form-control" id="validationCustomUsername" name="km_travelled" placeholder="e.g. 777" value=""
                               aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                            Please insert the no of km.
                        </div>
                    </div>
                </div>


            </div>


            <div class="form-row">
                <div class="col-md-2 mb-3">
                    <label for="validationCustom03">Hours of riding</label>
                    <input type="number" class="form-control" id="validationCustom03" name="hours_riding" placeholder="e.g 2" value="" required>
                    <div class="invalid-feedback">
                        Please provide a valid city.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom04">No KM - Intiial</label>
                    <input type="number" class="form-control" id="validationCustom04" name="km_initial" placeholder="e.g. 31200" value="" required>
                    <div class="invalid-feedback">
                        Please provide a valid no of km at the beginning of the trip.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom05">No KM - Final</label>
                    <input type="number" class="form-control" id="validationCustom05" name="km_final" placeholder="e.g. 31520" value="" required>
                    <div class="invalid-feedback">
                        Please provide a valid no of km at the end of the trip.
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" name="record_trip" type="submit" value="tripSubmit">Record Trip</button>
        </form>
    </div>

</div>


<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();



<!--</script>-->


{%endblock%}
