{%extends 'base.html'%}

{%block trips_common%}

<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button" onclick="window.location.href='{{ url_for( 'home') }}';">Return HOME</button>
  </form>

    <p class="m-2"></p>
    {% if crr_user == 'guest' %}
        <button type="button" class="btn btn-danger" disabled>
             User logged: {{ crr_user }}
        </button>
    {%else%}
        <button type="button" class="btn btn-info" disabled>
             User logged: {{ crr_user }}
        </button>
    {% endif %}


</nav>

{%endblock%}


