{% extends 'base.html'%}

{% block listing_trips %}
<div class="row">
    {% for trip in list_trips %}

    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ trip.trip_name}}</h5>
                <p class="card-text"> Area Name: {{trip.area_name}}</p>
                <p class="card-text"> KM Done: {{trip.km_travelled}}</p>
                <p class="card-text"> Hours of Riding: {{trip.h_travelled}}</p>
                <p class="card-text"> KM Intial: {{trip.km_initial}}</p>
                <p class="card-text"> KM Final: {{trip.km_final}}</p>
                <a href="{{url_for('detailed_trip', trip_name= trip.trip_name )}}" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}